<%- include('../includes/head.ejs') //This is the layout functionality for EJS %>

<body>
   <%- include('../includes/navigation.ejs') //This is the layout functionality for EJS %>
   <main class="centered">
    <h1><%= prods.title %></h1>
    <hr>
    <div>
        <img src="/<%= prods.imageUrl%>" alt="<%= prods.title %>">
    </div>
    <h2><%= prods.price %></h2>
    <p><%= prods.description %></p>
    <% if(isAuthenticated){ %>
    <form action="/cart" method="post">
        <button class="btn">Add to Cart</button>
        <input type="hidden" name="productId" value="<%= prods._id %>">
        <input type ="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
    <% } %>
   </main>
</body>

</html>